.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(37, 37, 43);
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  list-style: none;
  align-items: center;
}
